.container {
  width: 100%;
  align-items: flex-end;
  margin: 0 auto;
}
.welcome-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
    width: 800px;
    border-radius: 10px;
    margin-top: -600px;
    margin-bottom: 20px;
    border: 1px solid #a19e9e;
  }
  .search-input {
    position: relative;
    margin: 0 auto;
    width: 800px;
    margin-bottom: 120px;
  }
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
  } 
  .search-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }