header {
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #000000;
    font-size: 2rem;
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: -8px;
}
.logo {
	background-image: url(https://app.logo.com/view/logo_bba605fd-eb60-4c14-8195-02581821fc00);
	height: 60px;
	width: 142px;
	margin-left: 20px;
    cursor: pointer;
}