  .background {
    background-image: url(https://images.unsplash.com/photo-1573376670774-4427757f7963?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #252746;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }
  
  .background-texture {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }
  
  .header {
    width: 100%;
    height: 80px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  .left-content {
    width: 40vw;
    padding-left: 40px;
  }
  
  .stay-home {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 0;
    color: #000000;
  }
  
  .left-content h2 {
    margin: 0 0 1rem 0;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #02013a;
  }
  
  .para {
    color: #ffffffcb;
  }
  
  button {
    padding: 0.9rem 1.2rem;
    border-radius: 25px;
    background-color: var(--green);
    border: 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    color: var(--white);
    cursor: pointer;
  }
  #rightEar,
  #leftEar,
  #in-drawing {
    animation: ear 2s linear infinite;
  }
  
  @keyframes ear {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  